body {
  background-color: #eee;
}

h1 {
  font-size: 6em;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #cec;
  padding-bottom: 40px;
}

@media only screen and (min-width: 840px) {
    .forecast-container {
        flex-direction: row;
    }
}

.forecast-day {
  font-size: 1.2em;
  padding: 10px 30px;
  width: 180px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: .8em;
  font-weight: 600;
  background-color: #ece;
  margin: 20px;
  width: 135px;
}

button:hover {
  color: #fff;
  background-color: #000;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

footer h4 {
  color: #888;
  text-align: center;
}
