body {
  background-color: #eee;
}

h1 {
  font-size: 6em;
}

.forecast-container {
  display: flex;
  margin: auto;
  background-color: #cec;
  padding-bottom: 40px;
}

.forecast-day {
  font-size: 1.2em;
  padding: 10px 30px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: .8em;
  font-weight: 600;
  background-color: #ece;
  margin: 20px;
  width: 135px;
}

button:hover {
  color: #fff;
  background-color: #000;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
